body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-35px;
  top:0px;
  width:1045px;
  height:925px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:925px;
}
#u1 {
  position:absolute;
  left:2px;
  top:454px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:408px;
  top:40px;
  width:193px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:110px;
  width:1010px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:993px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1010px;
  height:1px;
}
#u5 {
  position:absolute;
  left:132px;
  top:120px;
  width:165px;
  height:150px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:150px;
}
#u5_img.mouseOver {
  width:175px;
  height:160px;
}
#u5.mouseOver {
}
#u5_img.mouseDown {
  width:175px;
  height:160px;
}
#u5.mouseDown {
  opacity:1;
}
#u6 {
  position:absolute;
  left:2px;
  top:61px;
  width:161px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:132px;
  top:362px;
  width:165px;
  height:150px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:150px;
}
#u7_img.mouseOver {
  width:175px;
  height:160px;
}
#u7.mouseOver {
}
#u7_img.mouseDown {
  width:175px;
  height:160px;
}
#u7.mouseDown {
  opacity:1;
}
#u8 {
  position:absolute;
  left:2px;
  top:61px;
  width:161px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:132px;
  top:610px;
  width:165px;
  height:150px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:150px;
}
#u9_img.mouseOver {
  width:175px;
  height:160px;
}
#u9.mouseOver {
}
#u9_img.mouseDown {
  width:175px;
  height:160px;
}
#u9.mouseDown {
  opacity:1;
}
#u10 {
  position:absolute;
  left:2px;
  top:61px;
  width:161px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:312px;
  top:120px;
  width:575px;
  height:460px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:213px;
  top:15px;
  width:129px;
  height:45px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:140px;
  top:80px;
  width:305px;
  height:215px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:200px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:120px;
  width:100px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:200px;
  top:120px;
  width:100px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:150px;
  width:100px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:200px;
  top:150px;
  width:100px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:100px;
  top:180px;
  width:100px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:200px;
  top:180px;
  width:100px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:140px;
  top:335px;
  width:120px;
  height:35px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:140px;
  top:310px;
  width:80px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:290px;
  top:335px;
  width:130px;
  height:35px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:290px;
  top:310px;
  width:70px;
  height:23px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:228px;
  top:390px;
  width:100px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u11_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:460px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:210px;
  top:30px;
  width:129px;
  height:45px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:124px;
  top:91px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:124px;
  top:170px;
  width:200px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:124px;
  top:145px;
  width:96px;
  height:15px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:124px;
  top:205px;
  width:86px;
  height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:124px;
  top:240px;
  width:200px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:210px;
  top:310px;
  width:100px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:112px;
  top:116px;
  width:10px;
  height:805px;
}
#u77_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u77_end {
  position:absolute;
  left:-5px;
  top:788px;
  width:20px;
  height:18px;
}
#u77_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:805px;
}
