body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:30px;
  width:320px;
  height:70px;
  font-size:48px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:125px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:260px;
  top:125px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:470px;
  top:125px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:280px;
  top:535px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
